.shop-header{
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
   justify-content: space-between;
   padding: .5rem 2rem;
   top:8rem;
   
background-color:#E2CB8E ;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
.shop-search-panel{
    display: flex;
    gap: 1rem;
}
.link-to-other-page{
    display: flex;
    gap: 2rem;
    font-size: 2.3rem;
    align-items: center;
   
    a{
        position: relative;
        text-decoration: none;
        .count-in-cart, .count-in-favorite{
            color: aliceblue;
            position: absolute;
            left:0.8rem;
            top:.3rem;
            font-size: 1.2rem;
            
        }
        color: #061025;
        &:hover{
            color:rgb(221, 127, 12)
        }
        &.active{
            color:#AA1F0C
        }
      
    }
}


}