.search-results-page{
    padding-top: 14rem;
    text-align: center;
    color:#740001 ;
 a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #f3191c;
    &:hover{
     color:#a50609
   } 
 }
    .liste-search{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
       margin: 3rem 5rem 5rem 5rem;
        justify-content: center;
    }
}