.paginate{
    background-color: #0F3D63;
    color:#FFE09F;
    display: flex;
    gap:2rem;
    justify-content: center;
    padding: 2rem;
    .active{
        color:#ce1a20;
      
                }
    li{
        list-style: none;
        font-size: bold;
        cursor: pointer;

    }
}