.nav{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
   
    a{
        color:#DCC07A;
        text-decoration: none;
        margin-bottom: 1.5rem;
       &:hover{
            color:bisque
        }
        &.active{
color:#BF2B16
        }
    }
}