.book-card{
    display: inline-block;
    width: 13rem;
    cursor: pointer;
    color: #F7E7C2;

    img{
        width: 100%;
    }
}

@media (max-width: 768px) {
   
    .book-card{
        width: 15rem;
    }
}