
 .items
    {
     width: 17rem;
     background-color:#F7E7C2;
          border: none;
     color: #740001;
     text-transform: uppercase;
     letter-spacing: 1.5px;
     padding: .2rem;
     border-radius: 0.5rem;
     height: 2.5rem;
  
 
    
    }
    .unten{
      display: none;
    }
    .search-container{
      display: block;
      position: relative;
  .items-liste{
    width: 38rem;
    position: absolute;
    top: 2.5rem;
    background-color: #fff5dc;
    border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     max-height: 10rem;
    li{
      list-style: none;
      border-bottom: 1px solid #740001;
      height: 2rem;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      padding: 5px 24px;
      cursor: pointer;
      &:hover{
background-color:#FFBB6F;
      }
      
    }
  }  
.search-form{
  display: flex;
  flex-wrap: nowrap;

     
  .button-search{
    background-color:#FFBB6F;
    height: 100%;
    font-size: 14px;
    width: 7rem;
    height: 2.5rem;
    color: #740001;
    border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
    border: 1px solid #740001;
   border-left: transparent;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   &:hover{
    background-color: #f59323;
   }
   &:active{
    background-color: #ad5f06;
   }

  }

input {
    width: 38rem;
    padding: 1rem 2rem;
    height: 2.5rem;


    font-size: 14px;
    line-height: 18px;
    
    color:#740001;
    background-color: #F7E7C2;


     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
    border: 1px solid #740001;
   border-right: transparent;
    
    &::placeholder {
        color: rgba(116, 0, 1, 0.5);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

  }}
}
@media (max-width: 768px) {
  .search-container {

 
 .items-liste{
  width: 17rem;
  font-size: .8rem;
}
  .search-form input  {
   
    width: 12rem;
    font-size: .8rem;


  
}}
.search-container .search-form .button-search{
  width: 4.5rem;
  font-size: .8rem;}

}
.items{
  width: 13rem;
margin: .5rem 0 0 0;
}

/*Handy */
@media (max-width: 580px) {
  
} 