
.spells{
display: flex;
justify-content: center;
padding-top: 4rem;
width: 100%;
background: linear-gradient(0deg, rgb(15, 61, 99) 14%, #060D1F);
.spells-grid{
    display: grid;
    grid-template-columns: repeat(5, 17rem);
    gap: 2rem;
    grid-auto-rows: 17rem;
 text-align: center;
}}
@media (max-width: 750px) {
    .spells-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }}