.card{
    h2{
        text-align: center;
    }

    padding: 0.5rem;
    display: flex;
align-items: center;
flex-direction: column;
color:#740001;
gap: .2rem;
border-radius: 0.5rem;

justify-content: center;
    width:100%;
    border:2px solid black;
    background: #F7E7C2;
    img{
width: 10rem;

height: 13rem;
object-fit: contain;

    }
}